@use "@gravity-ui/uikit/styles/themes";
@import "@gravity-ui/uikit/styles/styles.scss";
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

html,
body,
#__next {
    min-width: 320px;
    font-size: 16px;
    margin: 0;
}

:root {
    --gn-aside-header-decoration-expanded-background-color: rgba(22, 102, 102, 0.20);
}

.gn-aside-header__pane-container {
    overflow: auto;
}

.gn-composite-bar-item__title-text {
    font-weight: 400;
    font-size: 14px;
}

.gn-aside-header__content {
    overflow: auto;
    height: 100%;
}

.g-root_theme_light {

    --g-font-family-sans: 'Jost';
    --g-font-family-monospace: 'Jost';

    --g-color-private-brand-50: rgba(22,102,102,0.1);
    --g-color-private-brand-100: rgba(22,102,102,0.15);
    --g-color-private-brand-150: rgba(22,102,102,0.2);
    --g-color-private-brand-200: rgba(22,102,102,0.3);
    --g-color-private-brand-250: rgba(22,102,102,0.4);
    --g-color-private-brand-300: rgba(22,102,102,0.5);
    --g-color-private-brand-350: rgba(22,102,102,0.6);
    --g-color-private-brand-400: rgba(22,102,102,0.7);
    --g-color-private-brand-450: rgba(22,102,102,0.8);
    --g-color-private-brand-500: rgba(22,102,102,0.9);
    --g-color-private-brand-550-solid: rgb(22,102,102);
    --g-color-private-brand-1000-solid: rgb(32,40,44);
    --g-color-private-brand-950-solid: rgb(32,44,48);
    --g-color-private-brand-900-solid: rgb(30,51,54);
    --g-color-private-brand-850-solid: rgb(29,58,61);
    --g-color-private-brand-800-solid: rgb(28,66,68);
    --g-color-private-brand-750-solid: rgb(27,73,75);
    --g-color-private-brand-700-solid: rgb(26,80,82);
    --g-color-private-brand-650-solid: rgb(24,87,88);
    --g-color-private-brand-600-solid: rgb(23,95,95);
    --g-color-private-brand-500-solid: rgb(45,117,117);
    --g-color-private-brand-450-solid: rgb(69,133,133);
    --g-color-private-brand-400-solid: rgb(92,148,148);
    --g-color-private-brand-350-solid: rgb(115,163,163);
    --g-color-private-brand-300-solid: rgb(139,179,179);
    --g-color-private-brand-250-solid: rgb(162,194,194);
    --g-color-private-brand-200-solid: rgb(185,209,209);
    --g-color-private-brand-150-solid: rgb(208,224,224);
    --g-color-private-brand-100-solid: rgb(220,232,232);
    --g-color-private-brand-50-solid: rgb(232,240,240);


    --g-color-base-brand: #166666;
    --g-color-base-background: rgb(255,255,255);
    --g-color-base-brand-hover: var(--g-color-private-brand-600-solid);
    --g-color-base-selection: var(--g-color-private-brand-200);
    --g-color-base-selection-hover: var(--g-color-private-brand-300);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);
    --g-color-text-brand: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-contrast: #fff;
    --g-color-text-link: var(--g-color-private-brand-600-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-800-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-550-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-800-solid);
}

.g-root_theme_dark {

    --g-font-family-sans: 'Jost';
    --g-font-family-monospace: 'Jost';

    --g-color-private-brand-50: rgba(22,102,102,0.1);
    --g-color-private-brand-100: rgba(22,102,102,0.15);
    --g-color-private-brand-150: rgba(22,102,102,0.2);
    --g-color-private-brand-200: rgba(22,102,102,0.3);
    --g-color-private-brand-250: rgba(22,102,102,0.4);
    --g-color-private-brand-300: rgba(22,102,102,0.5);
    --g-color-private-brand-350: rgba(22,102,102,0.6);
    --g-color-private-brand-400: rgba(22,102,102,0.7);
    --g-color-private-brand-450: rgba(22,102,102,0.8);
    --g-color-private-brand-500: rgba(22,102,102,0.9);
    --g-color-private-brand-550-solid: rgb(22,102,102);
    --g-color-private-brand-1000-solid: rgb(220,232,232);
    --g-color-private-brand-950-solid: rgb(208,224,224);
    --g-color-private-brand-900-solid: rgb(185,209,209);
    --g-color-private-brand-850-solid: rgb(162,194,194);
    --g-color-private-brand-800-solid: rgb(139,179,179);
    --g-color-private-brand-750-solid: rgb(115,163,163);
    --g-color-private-brand-700-solid: rgb(92,148,148);
    --g-color-private-brand-650-solid: rgb(69,133,133);
    --g-color-private-brand-600-solid: rgb(45,117,117);
    --g-color-private-brand-500-solid: rgb(23,95,95);
    --g-color-private-brand-450-solid: rgb(24,87,88);
    --g-color-private-brand-400-solid: rgb(26,80,82);
    --g-color-private-brand-350-solid: rgb(27,73,75);
    --g-color-private-brand-300-solid: rgb(28,66,68);
    --g-color-private-brand-250-solid: rgb(29,58,61);
    --g-color-private-brand-200-solid: rgb(30,51,54);
    --g-color-private-brand-150-solid: rgb(32,44,48);
    --g-color-private-brand-100-solid: rgb(32,40,44);
    --g-color-private-brand-50-solid: rgb(33,36,41);


    --g-color-base-brand: #166666;
    --g-color-base-background: rgb(34,29,34);
    --g-color-base-brand-hover: var(--g-color-private-brand-650-solid);
    --g-color-base-selection: var(--g-color-private-brand-150);
    --g-color-base-selection-hover: var(--g-color-private-brand-200);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);
    --g-color-text-brand: var(--g-color-private-brand-600-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-contrast: #fff;
    --g-color-text-link: var(--g-color-private-brand-550-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-700-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-700-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-850-solid);
}
