.book__card {
    display: block;
    padding: 5px;
    background: var(--g-color-base-generic);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s linear;
    border-color: transparent;
    overflow: hidden;

    &:hover {
        border-color: transparent;
    }
}
